<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @callcenter_file.file_name %>
</p>

<p>
  <strong>Uketsuke:</strong>
  <%= @callcenter_file.uketsuke_id %>
</p>

<p>
  <strong>Uketsuke kubun:</strong>
  <%= @callcenter_file.uketsuke_kubun %>
</p>

<p>
  <strong>Yoyaku kubun:</strong>
  <%= @callcenter_file.yoyaku_kubun %>
</p>

<p>
  <strong>Nyudenbi:</strong>
  <%= @callcenter_file.nyudenbi %>
</p>

<p>
  <strong>Nyuden jikoku:</strong>
  <%= @callcenter_file.nyuden_jikoku %>
</p>

<p>
  <strong>Uketsuke sha:</strong>
  <%= @callcenter_file.uketsuke_sha %>
</p>

<p>
  <strong>Kibou iin:</strong>
  <%= @callcenter_file.kibou_iin %>
</p>

<p>
  <strong>Baitaimei:</strong>
  <%= @callcenter_file.baitaimei %>
</p>

<p>
  <strong>Baitai shousai:</strong>
  <%= @callcenter_file.baitai_shousai %>
</p>

<p>
  <strong>Shoshin yoyakubi:</strong>
  <%= @callcenter_file.shoshin_yoyakubi %>
</p>

<p>
  <strong>Shoshin yoyakujikoku:</strong>
  <%= @callcenter_file.shoshin_yoyakujikoku %>
</p>

<p>
  <strong>Raiinshamei kana:</strong>
  <%= @callcenter_file.raiinshamei_kana %>
</p>

<p>
  <strong>Raiinshamei kanji:</strong>
  <%= @callcenter_file.raiinshamei_kanji %>
</p>

<p>
  <strong>Raiinsha seibetsu:</strong>
  <%= @callcenter_file.raiinsha_seibetsu %>
</p>

<p>
  <strong>Raiinsya yubinbangou:</strong>
  <%= @callcenter_file.raiinsya_yubinbangou %>
</p>

<p>
  <strong>Raiinsha jusyo:</strong>
  <%= @callcenter_file.raiinsha_jusyo %>
</p>

<p>
  <strong>Raiinsha denwa:</strong>
  <%= @callcenter_file.raiinsha_denwa %>
</p>

<p>
  <strong>Tokki jikou:</strong>
  <%= @callcenter_file.tokki_jikou %>
</p>

<p>
  <strong>Call kekka:</strong>
  <%= @callcenter_file.call_kekka %>
</p>

<p>
  <strong>Check:</strong>
  <%= @callcenter_file.check %>
</p>

<p>
  <strong>Marketing:</strong>
  <%= @callcenter_file.marketing %>
</p>

<%= link_to 'Edit', edit_callcenter_file_path(@callcenter_file) %> |
<%= link_to 'Back', callcenter_files_path %>
